

$maincolor:#0aad0a;
$shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,
rgba(145,158,171,.14) 0px 4px 5px 0px,
rgba(145,158,171,.12) 0px 1px 10px 0px;

:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-section{
padding-top: 80px;
}
.btn-up{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $maincolor;
    border: unset;
    font-size: 20px;
    color: white;
    box-shadow: $shadow;
}